@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:wght@100&family=Zen+Antique&family=Zen+Kurenaido&display=swap');
*{
    margin: 0%;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box; 
    font-size: 2rem;
    overflow: hidden;
}



.home__blob{
    margin-left: -5%;
    width: 130%;
    filter: blur(1px);
}
.home__blob-img{
    width: 200px; 
}



.container{
    height: 90vh;
    padding: 3%;
    padding-left: 47%;
    position: absolute;
    z-index: 10;
}
.contour{
    height: 100%;
    padding: 3%;
    z-index: 10;
}
.misenpage{
    width: 100%;
    color: rgb(62, 59, 59);
    padding-top: 5%;
    
}
.misenpage h1{
    padding: 2%;
    font-size: 3rem;
}
.misenpage h2{
    padding: 2%;
    font-size: 2.5rem;
    
}
.misenpage p{
    padding: 2%;
    font-size: 2rem;
}



/* hd vertical */
@media (max-width:1080px) {
    .home__blob{
        margin-left: -110%;
        width: 450%;
        
    }
    .home__blob-img{
        width: 200px; 
    }
}
/* Uhd vertical */
@media (min-height: 3840px) {
    .home__blob{
        margin-left: -110%;
        width: 450%;
        
    }
    .home__blob-img{
        width: 200px; 
    }
    .misenpage h1{
        font-size: 6rem;
    }
    .misenpage h2{
        font-size: 5rem;
        
    }
    .misenpage p{
        font-size: 4rem;
    }
}
/* Uhd horizontal */
@media (min-width: 3840px){
    .misenpage h1{
        font-size: 6rem;
    }
    .misenpage h2{
        font-size: 5rem;
        
    }
    .misenpage p{
        font-size: 4rem;
    }
}