@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: open sans;
    box-sizing: border-box; 
    font-size: 2rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}
.container{
    position: relative;
    display: flex;
    -webkit-box-reflect: below 3px linear-gradient(transparent,transparent,transparent,#0004);
}
.container .box{
    position: relative;
    width: 520px;
    height: 600px;
    background: #444;
    margin: 0 100px;
    border-radius: 50px;
    background: linear-gradient(45deg, #2da2ff 25%, #444 25%, #444 50%, #2da2ff 50%, #2da2ff 75%, #444 75%, #444 100%);
    background-size: 80px 80px;
    filter: grayscale(1); 
    animation: ondulation1 10s linear infinite, remover1 10s linear infinite;
    /* animation-play-state: paused;  */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container .box:nth-child(2){
    background: linear-gradient(-45deg, #ff61ae 25%, #444 25%, #444 50%, #ff61ae 50%, #ff61ae 75%, #444 75%, #444 100%);
    background-size: 80px 80px;
    animation: ondulation2 10s linear infinite, remover2 10s linear infinite;
}
@keyframes ondulation1{
    0%{
        background-position: 800px;
    }
    1%{
        background-position: 800px;
    }
    50%{
        background-position: 0px;
    }
    100%{
        background-position: 0px;
    }
}
@keyframes ondulation2{
    0%{
        background-position: 0px;
    }
    50%{
        background-position: 0px;
    }
    100%{
        background-position: 800px;
    }
}
.photo{
    height: 90%;
}
@keyframes remover1{
    0%{
        filter: grayscale(1); 
    }
    1%{
        filter: grayscale(1); 
    }
    10%{
        filter: grayscale(0); 
    }
    41%{
        filter: grayscale(0); 
    }
    50%{
        filter: grayscale(1); 
    }
}
@keyframes remover2{
    0%{
        filter: grayscale(1); 
    }
    50%{
        filter: grayscale(1); 
    }
    59%{
        filter: grayscale(0); 
    }
    91%{
        filter: grayscale(0); 
    }
    100%{
        filter: grayscale(1); 
    }
}
.cow-boy{
    animation: agrandissement1 10s ease infinite;
}
@keyframes agrandissement1{
    0%{
        height: 90%;
    }
    1%{
        height: 90%;
    }
    10%{
        height: 120%;
    }
    41%{
        height: 120%;
    }
    50%{
        height: 90%;
    }
}
.cow-girl{
    animation: agrandissement2 10s ease infinite;
}
@keyframes agrandissement2{
    0%{
        height: 90%;
    }
    50%{
        height: 90%;
    }
    59%{
        height: 120%;
    }
    91%{
        height: 120%;
    }
    100%{
        height: 90%;
    }
}
/* hd vertical */
@media (max-width:1080px) {
    .container .box{
        width: 340px;
        height: 1100px;
    }
    .photo{
        transform: scale(0.7) translateY(290px);
    }
}
/* Uhd vertical */
@media (min-height: 3840px) {
    .container .box{
        width: 680px;
        height: 2200px;
    }
    .photo{
        transform: scale(0.7) translateY(580px);
    }
}
/* Uhd horizontal */
@media (min-width: 3840px){
    .container .box{
        width: 1040px;
        height: 1200px;
    }
}